.event{
	border: 1px solid black;

}
.events_list-item{
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #5101d1;
}

.joinEventTitle {

	position: relative;

}

.logLink {
	color: #FFF;
	text-decoration: none;
}

.drawerLink {
	color: #696969;
	text-decoration: none;
}

.joinEventText {
	text-align: center;
	font-size: 18;
	font-weight: 200;
}

.imageRectangle {
		position: absolute;
		display: inline-block;
		width: 16.5%;
		height: 31%;
		background: lightsteelblue;
		border-radius: 25px;
}

.joinRectangle {
	position: absolute;
	display: inline-block;
	width: 5%;
	height: 1%;
	background: lightsteelblue;

}

.addPhoto {
	position: absolute;
	top: 65%;
}

.imageFiller {
	position: absolute;
	top: 35%;
	width: 12%;
	height: 21%;
}

.inputPaper {
	background-color: lightsteelblue;
}

.googleSign {
	position: absolute;
	top: 35%;
	width: 18%;
	height: 9%;
	cursor: pointer;
}

.emailSign {
	border: 1px solid black;
	position: absolute;
	top: 57%;
	cursor: pointer;
}

.orDivider {
	position: absolute;
	top: 50%;
}