.event{
	border: 1px solid black;

}
.events_list-item{
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #5101d1;
}

.grid_vert-space {
	margin-top: "500px";
	position: relative;

}

.logLink {
	color: #FFF;
	text-decoration: none;
}

.drawerLink {
	color: #696969;
	text-decoration: none;
}

.joinEventText {
	text-align: 'center';
	font-size: 18;
}

.imageRectangle {
		position: absolute;
		display: inline-block;
		width: 16.5%;
		height: 31%;
		background: lightsteelblue;
}

.addPhoto {
	position: absolute;
	top: 65%;
}

.imageFiller {
	position: absolute;
	top: 35%;
	width: 12%;
	height: 20%;
}

.inputPaper {
	background-color: lightsteelblue;
}